body {
  margin: 0;
  height: 100%;
  background-color: rgb(14, 14, 14);
  display: flex;
}

img {
  display: block;
  -webkit-user-select: none;
  user-select: none;
  margin: 1em auto;
  background-color: hsl(0, 0%, 90%);
  transition: background-color 300ms;
  filter: url(#noise);
}
